@charset "utf-8";

/*
    responsive style sheet
    Author: William Meyers
    Filename: responsive.css
*/

@media screen and (max-width: 600px) {
    div#container {
        columns: 2;
    }
}

@media screen and (max-width: 400px) {
    div#container {
        columns: 1;
    }
}