@charset "utf-8";

/*
    responsive style sheet
    Author: William Meyers
    Filename: responsive.css
*/

@media screen and (max-width: 800px) {
    div#container {
        columns: 2;
    }
}

@media screen and (max-width: 500px) {
    div#container {
        columns: 1;
    }
    img {
        display: none;
    }
}